{% extends 'RaketaShopBundle::base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.min.css') }}">
  <link rel="stylesheet" href="{{ asset('css/simplePagination.css') }}">
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ asset('locales/bootstrap-datepicker.ru.min.js') }}"></script>
  <script src="{{ asset('js/jquery.simplePagination.js') }}"></script>
  <script src="{{ asset('js/report_controller.js') }}"></script>
  <script src="{{ asset('js/jquery.blockUI.js') }}"></script>
  <script>
    $(function() {
      $('.date').datepicker({
        language: 'ru',
        autoclose: true
      });
      
      new ReportController({
        root: '#report',
        reportUrl: '{{ path('raketa_shop_report_load') }}'
      }).start();
    });
  </script>
{% endblock %}

{% block body %}
  <div id="report">
    <div class="controls">
      <div class="input-daterange">
          <input type="text" name="start" class="input-small date" value="" />
          <span class="add-on"> &ndash; </span>
          <input type="text" name="end" class="input-small date" value="" />
      </div>
    </div>
    <div class="report">
    </div>
    <div class="paginator"></div>
  </div>
{% endblock %}
