<table class="table table-bordered report-table" data-order-by="{{ report.orderBy }}" data-order-direct="{{ report.orderDirect }}" data-offset="{{ report.offset }}" data-rows-count="{{ report.rowsCount }}">
  <thead>
    <tr>
      <th data-sort="pm_id" class="sortable">pm_id <!--a href="#" class="glyphicon glyphicon-triangle-top"></a--></th>
      <th data-sort="price" class="sortable">price <!--a href="#" class="glyphicon glyphicon-triangle-top"></a--></th>
      {% for date in report.dates %}
      <th data-sort="{{ date }}">{{ date }} <!--a href="#" class="glyphicon glyphicon-triangle-top"></a--></th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
      {% for row in report.report %}
    <tr>
      <td>{{ row.pm_id }}</td>
      <td>{{ row.price }}</td>
        {% for sum in row.dates %}
      <td>{{ sum }}</td>
        {% endfor %}    
    </tr>
      {% endfor %}    
  </tbody>
</table>
